.screen{
	display: inline-block;
	background-color: black;
	padding: 0px;
	margin: 0px;
	vertical-align: bottom
}

#loading_stats{
	color: white;
}

#spiel{
	color:white;
}

.cpButton{
	width: 100%;
	vertical-align: bottom;
}

#controlPanel{
	padding:0;
	margin:0;
	border-collapse: collapse;
}

#controlPanel td{
	padding:0;
	margin:0;
}

#controlPanel tr{
	padding:0;
	margin:0;
}

#debug{
	color:white;
}

body{
	background-color: black;
}

#container{
	width: 1200px;
}

#mindButton{
	display: none;
}

#mindPowers{
	display: none;
	color: white;
}

#buttons{
	display: inline-block;
	width: 400px;
	vertical-align: top;
}


#landScreens{
	width: 725px;
	height: 725px;
	display: inline-block;
}
