.screen{
	display: inline-block;
	background-color: black;
	padding: 0px;
	margin: 0px;
	vertical-align: bottom
}

body{
	background: url(../images/LORAS/LORAS-background.gif);
	background-position: top;
	background-repeat:no-repeat;
	background-color: black;
}

#loading_stats{
	color: white;
}

a{
	color: #3da35a;
}

#quip{
	color: #3da35a;
	background-color: white;
	border-radius: 25px;
	padding: 10px;
}

#slider{
	padding: 10px;
}

#spiel{
	color:white;
}

.cpButton{
	width: 100%;
	vertical-align: bottom;
}

#controlPanel{
	padding:0;
	margin:0;
	border-collapse: collapse;
}

#controlPanel td{
	padding:0;
	margin:0;
}

#controlPanel tr{
	padding:0;
	margin:0;
}

#debug{
	color:white;
}


#headerSpace{
	height: 512px;
	width: 0px;
}

#container{
	width: 1200px;
}

#mindButton{
	display: none;
}

#mindPowers{
	display: none;
	color: white;
}

#buttons{
	display: inline-block;
	width: 400px;
	vertical-align: top;
}


#landScreens{
	width: 725px;
	height: 725px;
	display: inline-block;
}
