#story{
	width:1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.navbarLink{
	padding-left: 10px;
	padding-right:10px;
}

body{
	background-image: url("../images/Skaia_Clouds.png");
}

#navbar{
	width:1020px;
	margin-left: auto;
	margin-right: auto;
}

.links{
	background-color: white;
	padding: 10px;
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
	text-align: center;
	vertical-align: middle;
}
