#container {
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
#newsposts{
  float:left;
  width:25%;
}
#robo_newsposts{
    color: red;
    float:right;
    width:25%;
}

#artist_newsposts{
  color:white;
  float:left;
  width:50%;
}
