#container {
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    background-color: rgba(255, 255, 255, 0.8);
}
#newsposts{
  width:325px;
  display: inline-block;
  padding: 10px;
}

#navbar{
	width:1020px;
	margin-left: auto;
  margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.links{
	background-color: white;
	padding: 10px;
	border: 3px solid black;
	text-align: center;
	vertical-align: middle;
}


#newspostsMain{
  display: inline-block;
  width:325px;
}
#robo_newsposts{
    color: red;
    display: inline-block;
    width:325px;
    vertical-align: top;
    padding: 10px;
}

#artist_newsposts{
  width:1000px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#artist_newspostsMain{
  color:#000000;
  vertical-align: top;
  display: inline-block;
  width:325px;
}

#artist_h1{
  color:#FCF9BD;
}
