#story{
	width:1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.watermark{
	position: fixed;
	bottom: 0px;
	left:0px;
	z-index: -1;
}
.sickFiresCentered{
	margin-left: 230px;
	margin-right: auto;
}
.scene{
	width: 1000px;
}

.whiteCenterThingy{
	width:1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#character_creator{
	width:1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#debug{
	width:1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}


.credits{
	padding: 10px;
	border: 3px solid black;
}

.void{
	display: none;
	background-color: #000066;
	color: #ffffff;
}

.rage{
}

.light{
}

.credits_text{
}

#afterlifeViewer{
	width:1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}


#navbar{
	width:1020px;
	margin-left: auto;
	margin-right: auto;
}

.links{
	background-color: white;
	padding: 10px;
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
	text-align: center;
	vertical-align: middle;
}


#spiel{
	width:1000px;
	background-color: white;
	margin-left: auto;
    margin-right: auto;
	padding: 10px;
}

body{
	background-image: url("../images/Skaia_Clouds.png");
}

#container {
    float:left;
    width:100%;
}
#player1 {
    float:left;
    width:50%;
}
#player2 {
    float:left;
    width:50%;
}
#player3 {

    width:50%;
}
#player3 {
    float:left;
    width:50%;
}

#classList{
  float:left;
}
.multiSessionSummary{
  width: 250px;
  border: 3px solid black;
  padding: 10px;
  display: inline-block;
}

.topAligned{
	vertical-align: top;
}

.bottomAligned{
	vertical-align: bottom;
}

.sessionSummary{
	width: 500px;
	display: inline-block;
}

#colorList{
  float:left;
}
#speciesList{
  float:left;
}

.custom-radio{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    background: url("../images/mind_radio.png") no-repeat;
}
.custom-radio:hover{
    background: url("../images/mind_radio_hover.png") no-repeat;
}
.custom-radio.selected{
    background: url("../images/mind_radio_checked.png") no-repeat;
}
.custom-radio input[type="radio"]{
    margin: 1px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

#aspectList{
  float:left;
}
#horrorterror{
  font-family: horrorterror;
}

.eulogy{
  display: inline-block;
  padding: 10px;
  width:400px;
}

.eulogy_text{
}

@font-face {
    font-family: horrorterror;
    src: url(MISTERTWIGGY.TTF);
}

.createdCharacter{
  width: 1000px;

}

.createdCharacterCanvas{
  width: 400px;
	height: 300px;
	display: inline-block;
}

.optionTab{
	width:100px;
	text-align: center;
	background-color: grey;
	height: 20px;
	padding: 2px;
	padding-top: 0px;
	vertical-align: middle;
	border: 2px solid black;
}

.optionTabSelected{
	width:100px;
	padding: 2px;
	padding-top: 0px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	border: 2px none;
	background-color: lightgrey;
}

.optionBox{
	display: none;
}

.optionTabs{
	width:570px;
	height: 20px;
}

.charOptions{
	vertical-align: top;
	border: 3px solid black;
	width:570px;
	height: 300px;
	background-color: lightgrey;
	display: inline-block;
}

.charOptionsForms{
	vertical-align: top;
	padding: 10px;
	width:570px;
	height: 300px;
	display: inline-block;
}

.stats{
}
