#rap {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width:400px;
    top: 50;
	color: red;
}

.void{
	display: none;
}

#score{
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}
