#rap {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width:400px;
    top: 100px;
	color: red;
}

#topic{
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}

#used_words_player1{
  position: absolute;
  top: 90%;
}

#used_words_player2{
  position: absolute;
  top: 95%;
}
