.DS_STORE
.idea/
*.iml

# Files and directories created by pub
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

# No need to push bundles or the manifest I guess - those can be generated simply enough
*.bundle
web/manifest/manifest.txt