#story{
	width:1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;

}

#announcement{
    font-family: 'strife', sans-serif;
    padding: 10px;
}
#grist{
    font-family: 'strife', sans-serif;
    padding: 10px;
}

body{
	background-image: url("../images/Skaia_Clouds.png");
}

@font-face {
    font-family: strife;
    src: url("../fonts/Strife.ttf");
}


#operator{
    vertical-align: top;
}

#achievements{
  font-family: 'strife', sans-serif;
  display: inline-block;
}

.missingAchievement{
    color: #888888;
    display: inline-block;
    padding: 5px;
    height: 50px;
    width: 150px;
    border: 3px solid #AAAAAA;
    vertical-align: top;
    text-align: middle;
    background-color: #BBBBBB;
}

.passedAchievement{
    color: #9630bf;
    height: 50px;
    vertical-align: top;
    display: inline-block;
    padding: 5px;
    width: 150px;
    border: 3px solid #9630bf;
    text-align: middle;
    background-color: #cc87e8;
}

td{
    padding: 10px;
    width: 30%;
    text-align: center;
}
.oneTrait{
    padding-left: 10px;
}

.itemHeader{
    font-weight: bold;
    padding: 10px;
}