#story{
	width:1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

body{
	background-image: url("../images/Skaia_Clouds.png");
}

@font-face {
    font-family: strife;
    src: url("../fonts/Strife.ttf");
}


#operator{
    vertical-align: top;
}

#achievements{
  font-family: 'strife', sans-serif;
}

.missingAchievement{
    font-color: grey;
}

.passedAchievement{
   font-color:black;
}

td{
    padding: 10px;
    width: 30%;
    text-align: center;
}
.oneTrait{
    padding-left: 10px;
}

.itemHeader{
    font-weight: bold;
    padding: 10px;
}