/* PICKER STUFF ######################################################################################## */

.colourPicker_button {
    position:relative;
    display:inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius:3px;

    cursor:pointer;
}

.colourPicker_button_inner {
    position:relative;
    border:2px solid black;
    border-radius:2px;
    box-sizing: border-box;
}

.colourPicker_button:active > .colourPicker_button_inner_1 {
    display:none;
}
.colourPicker_button_inner_2 {
    display:none;
}
.colourPicker_button:active > .colourPicker_button_inner_2 {
    display:block;
}

.colourPicker_swatch {
    position:absolute;
    top:5px;
    left:5px;
    border:1px solid black;
    background-color:#FFFFFF;
}

.colourPicker_button:active > .colourPicker_swatch {
    top:6px;
    left:6px;
}

.colourPicker_overlay {
    z-index:1000;
    display:none;
    position:fixed;
    background-color:rgba(0,0,0,0.1);
    top:0px;
    left:0px;
}

.colourPicker_window {
    position:relative;
    box-sizing: border-box;
    width:400px;
    height:300px;
    background-color:#DDDDDD;
    outline:1px solid #AAAAAA;
    box-shadow: 2px 3px 0 rgba(0,0,0,0.2);
    padding:5px;
}

/* FANCY SLIDER STUFF ######################################################################################## */

.fancySlider_bar {
    position:relative;
    border:1px solid black;
    margin:4px;
    cursor:default;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.fancySlider_background {
    position:relative;
}

.fancySlider_slider_horizontal {
    z-index:10;
    position:absolute;
    width:0;
    height:100%;
    left:0;
    top:0;
}

.fancySlider_slider_horizontal:before {
    content: " ";
    position:absolute;
    top:-5px;
    left:-5px;
    border-width:5px 5px 5px 5px;
    border-style:solid;
    border-color:#000 transparent #000 transparent;
    width:1px;
    height:100%;
    z-index:10;
}

.fancySlider_slider_vertical {
    z-index:10;
    position:absolute;
    width:100%;
    height:0;
    left:0;
    top:0;
}

.fancySlider_slider_vertical:before {
    content: " ";
    position:absolute;
    top:-5px;
    left:-5px;
    border-width:5px 5px 5px 5px;
    border-style:solid;
    border-color:transparent #000 transparent #000;
    width:100%;
    height:1px;
    z-index:10;
}