#story{
	width:1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}


body{
	background-image: url("../images/Skaia_Clouds.png");
}
.intro{
	width:885px;
}
.landingBox{
	background-color: white;
	padding: 10px;
	width:700px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
	text-align: top;
	vertical-align: top;
}

.void{
	display: none;
	background-color: #000066;
	color: #ffffff;
}

.landingColumn{
	display: inline-block;
	width: 320px;
	vertical-align: top;
	text-align: top;
	padding:10px;
}

.landingInner{
	display: inline-block;
	width: 320px;
	margin-left: 30px;
	margin-right: auto;
	padding-bottom: 5px;
}
