
#navbar{
	width:1020px;
	margin-left: auto;
	margin-right: auto;
}

.links{
	background-color: white;
	padding: 10px;
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
	text-align: center;
	vertical-align: middle;
}

.fanLinks{
	background-color: #9630bf;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #cc87e8;
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

.navbarLink{
	padding-left: 10px;
	padding-right:10px;
}

.navBarMenu{
	display:none;
}

.menu{
	background-color: #3da35a;
	width:1015px;
	height:30px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #386426;
	text-align: center;
	vertical-align: middle;
}

.menuButton{
	display:inline;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: 3px solid #386426;
	background-color: #3da35a;
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	color: #06ffc9;

}


ul.menuPureCSS {
    list-style-type: none;
		width: 1000px;
    margin: 0, auto;
		text-align: center;
    padding: 0;
    overflow: hidden;
    background-color: #3da35a;
		border: 2px solid #386426;
		font-family: "Franklin Gothinc Demi", arial, sans;
		font-size: 18px;
}

.centeredMenu{
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

li.menuButtonPureCSS {
    float: left;
		padding-left: 10px;
}

li.menuButtonPureCSS a, .dropbtn {
    display: block;
    color:  #06ffc9;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menuButtonPureCSS a:hover, .dropdown:hover .dropbtn {
    background-color: #386426;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3da35a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
