#pw_container {
    margin-left: auto;
    margin-right: auto;
    width:650px;
	color: red;
}

#pw_container_shogun {
    margin-left: auto;
    margin-right: auto;
    width:650px;
	color: lime;
}

#story{
	width:1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#question {
    text-align: center
}
.void{
	display: none;
	background-color: #000066;
	color: #ffffff;
}

#symbol{
	margin-left: auto;
    margin-right: auto;
}

#pw{
	margin-left: auto;
    margin-right: auto;
	width: 300px;
}

#pw_text{
	 text-align: center
}

#pw_hint{
	border: 1px dashed gray;
	padding: 1px;
}
#pw_hint_button_container{
	width: 125px;
	margin-left: auto;
    margin-right: auto;
}

#pw_hint_button{
	text-align: center
	width: 125px;
}

#spoiler{
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	display:none;
}

.hof413{
  background-color: white;
	border: 1px dashed gray;
	padding: 1px;
	width: 500px;
	margin-left: auto;
    margin-right: auto;
}
