.sessionForm{
    padding: 10px;
}

.carapaceForm{
    padding: 10px;
    border: 3px solid #000000;
    min-width: 960px;
    margin-bottom: 10px;
}
label{
    margin: 5px;
}

input{
    margin: 5px;
}
button{
    margin: 5px;
}

.section{
    border: 1px solid #000000;
    margin-bottom: 10px;
}

.carapaceSection{
    padding: 10px;
    background-color #eeeeee;
}

.itemForm{
    padding: 10px;
    border: 3px solid #000000;
}

.selectedItem{
    padding: 10px;
    border: 3px solid #000000;
}

.itemSection{
    padding: 10px;
     background-color #eeeeee;
}

.prospit{
    background-color:black;
}

.derse{
    background-color: white;
}