.collectibleCardBorder{
	background-color: blue;
	 border-radius: 23px;
	width: 300px;
	position: relative;
	height: 510px;
	padding: 10px;
	display: inline-block;
	margin: 6px;
}

.collectibleCard{
	background-color: grey;
	border-radius: 5px;
	width: 280px;
	height: 490px;
	padding: 10px;
	display: inline-block;
	margin: 10px;
	position: absolute;
    left: 0px;
    top: 0px;
}

.cardStatName{
    font-weight: bold;
}

.cardStatValue{
    text-align: right;
    margin-left:auto;
    margin-right:0;
    position: absolute;
    right: 20px;
    width: 80%;
    border-bottom: 1px dotted black;
}

.cardPageNum{
    position: absolute;
    right: 10px;
}

.cardStatBox{
    padding-bottom: 3px;
}

.cardPortraitBG{
    width: 275px;
    height: 200px;
	border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.cardPortrait{
    display: block;
    max-width: 275px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}



.cardStats{
    overflow: hidden;
    height: 260px;
}


.cardName{
	padding-bottom: 10px;
}