.collectibleCardBorder{
	background-color: blue;
	 border-radius: 23px;
	width: 300px;
	position: relative;
	height: 450px;
	padding: 10px;
	display: inline-block;
	margin: 6px;
}

.cardPortrait{
    width: 275px;
    height: 200px;
	border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.collectibleCard{
	background-color: grey;
	border-radius: 5px;
	width: 280px;
	height: 430px;
	padding: 10px;
	display: inline-block;
	margin: 10px;
	position: absolute;
    left: 0px;
    top: 0px;
}

.cardStats{

}


.cardName{
    width: 50%;
	padding: 10px;
}