

canvas {
    border:1px solid black;
}

div.statset {
    border:1px solid black;
    margin:3px;
    padding:5px;
    display:inline-block;
    position:relative;
}

h1 {
    font-size:28px;
    margin:3px;
}

div.stats_list {

}

div.lines_list {

}

div.selection_block {
    padding:2px;
    margin:2px;
    border:1px solid black;
}